<h2><%= @title %></h2>


<h2>About this blog</h2>
  <p>When I'm working on Rails apps, I do a lot of googling to solve problems, and some of those problems are solved by people who wrote blog posts about having the exact same problem as me.  So part of this blog will be me trying to write the kind of posts that I wish I had found.  </p>

  <p>The other part of this blog will be a dream journal.  I've been keeping a physical one, so I'll be adding some of the blog-worthy dreams I've already had.</p>

  <p>I needed a clever play on words for my title, so I turned to Ricky from Trailer Park Boys.  Other titles I considered were:  </p>

  <ul>
    <li>Worst Case Ontario</li>
    <li>Supply and Command</li>
    <li>Survival of the Fitness</li>
    <li>Denial and Error</li>
    <li>It doesn't take rocket appliances</li>
    <li>Do you have a search warranty?</li>
    <li>Basically Peach and Cake</li>
    <li>I'm not a pessimist, I'm an optometrist</li>
  </ul>

  <p>It would have been "One Knee Equals Two Feet", but that's already the title of one of John Madden's books.</p>


<div class="about-me">
  <span class="pull-left span7">
    <h2>About me</h2>
      <ul>
        <li>Here's my <%= link_to "github account", "https://github.com/bubbles90210" %>.</li>
        <li>I like reading Philip K Dick's books and short stories.  The Giver by Lois Lowry is my favorite book.</li>
        <li>I like the Simpsons and Archer.</li>
        <li>I can play a few songs on the piano.</li>
        <li>I like rock climbing.</li>
        <li>I like watching terrible movies.  I watched Spice World because I thought it would be terrible, but I was very wrong.</li>
        <li>I fell off a horse once.</li>
      </ul>
    </span>
    <span class="span5">
      <img class="about-me-picture" src="/assets/horse.jpg" />
    </span>

</div>
