<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "tic-tac-toe" %>
  </head>

  <body onload="init();">
   <canvas id="myCanvas" width="310" height="450" style="background:url('assets/grid.png');"></canvas>
  </body>
</html>
