<h2>About this blog</h2>
<p>This is the blog I kept during my novice and resident apprenticeships at 8th Light.</p>

<div class="about-me">
  <span class="pull-left span7">

    <h2>About me</h2>
    <ul>
      <li>Here's my <%= link_to "github account", "https://github.com/bentrevor" %>.</li>
      <li>I fell off a horse once.</li>
    </ul>
  </span>

  <span class="span5">
    <img class="about-me-picture" src="/assets/horse.jpg" />
  </span>
</div>
