<div class="span6 pull-right">
  <% if current_user %>
    Signed in as <%= current_user.name %><br />
    <div class="btn-group">
      <% if current_user.has_role? :admin %>
        <%= link_to "Write new entry", new_entry_path, class: "btn" %>
      <% end %>
    </div>
  <% end %>
</div>