<header class="navbar">
  <div class="navbar-inner">
    <div class="span6">
      <p><a href="<%= entry_path(Entry.last) %>" class="brand">Ben Trevor's Blog</a></p>
    </div>
    <%= render "layouts/admin-links" %>
  </div>
</header>
